*{
    margin: 0;
    padding: 0;
}
#healthapp_area{
    width: 100%;
    height: 500px;
    border: 2px solid;
    display: flex;
    justify-content: center;    
    padding: 100px 0px 0px 0px;
}
.healthappin_area{
   width: 100px;
   height: 100px;
   margin: 0px 10px;
   text-align: center;
   padding: 50px 30px;
   border-radius: 10px;
}
.healthappin_area:nth-child(1){
    background-color: #eb4d4b;
    color: #dff9fb;
}
.healthappin_area:nth-child(2){
    background-color: #535c68;
    color: #dff9fb;
}
.healthappin_area:nth-child(3){
    background-color: #22a6b3;
    color: #dff9fb;
}
.healthappin_area:nth-child(4){
    background-color: #6ab04c;
    color: #dff9fb;
}
.healthappin_area h2{
    margin: 10px 0px ;
    font-size: 20px;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.healthappin_area i{
    font-size: 30px;
    
}
.healthappin_area span{
    margin: 0px 5px 0px 0px;
}